_test/

# build artefacts
Find-and-replace.sketchplugin
Find-and-replace.sketchplugin/Contents/Sketch
Find-and-replace.sketchplugin/Contents/Resources/_webpack_resources

# npm
node_modules
.npm
npm-debug.log

# mac
.DS_Store
